body{

background:black;
color:white;
font-family:monospace;
text-align:center;

}

h1{

font-size:50px;

}

#menu{

margin-top:80px;

}

canvas{

border:3px solid white;
background:#111;
margin-top:20px;

image-rendering: pixelated;

}

#hud{

position:absolute;
top:10px;
left:10px;

}

#controls{

position:fixed;
bottom:20px;
width:100%;
text-align:center;

}

#controls button{

font-size:30px;
padding:15px;
margin:10px;

}
